@layer base {
  @font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf') format("truetype");
    font-weight: 400;
  }
  @font-face {
    font-family: 'manrope';
    src: url('../fonts/OpenSans-SemiBold.ttf') format("truetype");
    font-weight: 600;
  }
}

